name: Test
on:
  push:

jobs:
  changeset:
    if: github.ref != 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: "22"

      - name: Install modules
        run: npm install

      - name: Fetch base branch
        run: git fetch origin main --depth=1

      - name: Verify changeset status
        run: npx changeset status --since=origin/main

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "22"

      - name: Install modules
        run: npm install

      - name: Lint code
        run: npm run lint

  test:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "22"

      - name: Install modules
        run: npm install

      - name: Test build
        run: npm run build

      - name: Test
        run: npm run coverage

      - name: Report coverage
        uses: codecov/codecov-action@v5
        with:
          use_oidc: true
          fail_ci_if_error: true
          files: ./coverage/coverage-final.json

  benchmarks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "22"

      - name: Install modules
        run: npm install

      - name: Build
        run: npm run build

      - name: Cache benchmark data
        id: benchmark-cache
        uses: actions/cache@v5
        with:
          path: .test-cache
          key: ${{ runner.os }}-benchmark-cache

      - name: Run benchmarks
        run: npm run benchmarks

      - name: Upload benchmark results
        uses: actions/upload-artifact@v6
        with:
          name: benchmarks
          path: benchmarks/*.csv

  examples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "22"

      - name: Install modules
        run: npm install

      - name: Build
        run: npm run build

      - name: Run examples
        run: for e in examples/*.ts; do node "$e"; done
